[submodule "packages/flutter"]
	path = packages/flutter
	url = https://github.com/flutter/flutter.git
[submodule "packages/babylon_tts"]
	path = packages/babylon_tts
	url = https://github.com/Mobile-Artificial-Intelligence/babylon_tts.git
[submodule "packages/lcpp"]
	path = packages/lcpp
	url = https://github.com/KevinSerres/lcpp.git
